@charset "UTF-8";

/*  Estilos para telas  */

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body{
    background-color: blanchedalmond;
}

header{
    background-color: lightgray;
}

h1{
    display: flex;
    justify-content: center;
    padding: 10px;
}

menu{
    background-color: rgb(87, 87, 87);
    box-shadow: 0.5px 0.5px 2px black;
}

li{
    display: inline-block;
    color: white;
    padding: 10px;
}

main{
    max-width: 450px;
    line-height: 2em;
    padding: 10px;
    margin: auto;
    background-color: white;
}