@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    position: relative;
}

#container{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: auto;
    font-size: 5em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(0px);
    animation: loadingH 2s forwards infinite;
}

#i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(0px);
    animation: loadingI 2s forwards infinite;
}

@keyframes loadingH{
    0%{
        transform: translateX(-350px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes loadingI{
    0%{
        transform: translateX(350px);
    }

    100%{
        transform: translateX(0px);
    }
}