@charset "UTF-8";

 /* Configuracoes gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 2px 2px 0px #13218b;
    padding: 10px;
}
/* Configuracoes retrato */
@media screen and (orientation: portrait) {
    body{
        background-image: url("../imagens/cev-portrait.jpg");
        background-position: center bottom;
    }
}
/* Configuracoes paisagem */
@media screen and (orientation: landscape) {
    body{
        background-image: url("../imagens/cev-landscape.jpg");
        background-position: left bottom;
    }
}